@using System.Security.Claims;
@model 業務報告システム.Models.Report

@{
    ViewData["Title"] = "Create";
        var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Create</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*attendanceの入力フォームを追加する*@

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input name="values" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input name="values" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TomorrowComment" class="control-label"></label>
                <input name="values" class="form-control" />
                <span asp-validation-for="TomorrowComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input name="values" type="hidden" value="@loginUserId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
