@using System.Security.Claims;
@model 業務報告システム.ViewModels.ReportIndex;
@{
    ViewData["Title"] = "MgrIndex";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>MgrIndex</h1>
<h2>@ViewBag.MemberName</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Comment
            </th>
            <th>
                HealthRating
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reports)
        {
            <tr>
                <td>
                    @item.Date.ToString("yyyy/M/d")
                </td>
                <td>
                    @item.Comment
                </td>
                <td>
                    @foreach (var itemA in Model.Attendances)
                    {
                        @if (item.ReportId.Equals(itemA.ReportId))
                        {
                            @switch (itemA.HealthRating)
                            {
                                case 1:
                                    <img class="select-icon" src="/images/bad.png" />
                                    break;
                                case 2:
                                    <img class="select-icon" src="/images/soso.png" />
                                    break;
                                case 3:
                                    <img class="select-icon" src="/images/fine.png">
                                    break;
                                case 4:
                                    <img class="select-icon" src="/images/good.png" />
                                    break;
                                case 5:
                                    <img class="select-icon" src="/images/great.png" />
                                    break;
                            }
                        }
                    }
                </td>
                <td>
                    @foreach (var itemA in Model.Attendances)
                    {
                        @if (item.ReportId.Equals(itemA.ReportId))
                        {
                            <a asp-action="Details" asp-route-id="@item.ReportId"> Details </a>
                        }
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
