@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["ProjectError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["ProjectError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="logo-home">
    <img class="purun" src="/images/logo_tate.png"/>
</div>

@if (TempData["AlertError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["AlertError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="home-message">
<div class="p-3">
    @if (User.IsInRole("Admin"))
    {
        <h1 class="text-center">あなたはAdminです</h1>
    }
    else if (User.IsInRole("Manager"))
    {
        <h1 class="text-center">あなたはManagerです</h1>
    }
    else if (User.IsInRole("Member"))
    {
        <h1 class="text-center">あなたはMemberです</h1>
    }
    else
    {
        <h1 class="text-center">レポルンへようこそ！</h1>
    }
</div>
</div>
<partial name="_footer" />

<style>
    html, body{
        background-color: #FFDE59;
    }

</style>