@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["AlertError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["AlertError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (User.IsInRole("Admin"))
{
    <h1>あなたはAdminユーザーです</h1>
}
else if (User.IsInRole("Manager"))
{
    <h1>あなたはManagerユーザーです</h1>
}
else if (User.IsInRole("Member"))
{
    <h1>あなたはMemberユーザーです</h1>
} else
{
    <h1>ログインしてください。</h1>
}