@model 業務報告システム.ViewModels.UserIndex;

@{
}

<h1 class="text-center">プロジェクトメンバー一覧</h1>
<p class="text-center">メンバー名クリックでメンバーの報告一覧にアクセスできます</p>

    <div class="container-for-grid-mem">
        @foreach (var user in Model.Users)
        {

            <a class="mgrlink" asp-controller="Reports" asp-action="mgrIndex" asp-route-id="@user.Id">
                <div class="mem-card">
                    <h2>@user.LastName @user.FirstName</h2>

                </div>
            </a>

        }
    </div>
