@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@if (User.IsInRole("Admin"))
{

    

    <div class="container-uindex">
    <h1 class="text-center">ユーザー作成</h1>
    <div class="container-form">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                    <label>姓</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                    <label>名</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <label class="control-label">ロール</label>
                <select asp-for="Input.Role" class="form-control" aria-required="true">
                    <option>Member</option>
                    <option>Manager</option>
                </select>
                <div class="form-group">
                    <label class="control-label">プロジェクト</label>
                    <select class="form-control" asp-items="ViewBag.Projects" name="projectSelect"></select>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label>パスワード</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label>パスワード（確認）</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-warning">登録</button>
            </form>
        </div>
        </div>

} else {
    <h1>アクセス権がありません。</h1>

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
