
/*please use the following main colors*/

$main-blue : #38C3FF;
$main-yellow : #FFDE59;
$orange : #FF914D;
$navy : #0A4191;
$gray : #EDF2F7;


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.select-icon {
        height:50px;
        width:50px;
}