@charset "UTF-8";
.home-message {
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 24px; }

.nav-logo {
  width: 110px;
  height: 50px;
  border-radius: 24px; }

.logo-home {
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  text-align: center; }
  .logo-home img {
    margin: auto;
    border-radius: 50%; }
    @media (min-width: 100px) and (max-width: 767px) {
      .logo-home img {
        height: 250px;
        width: auto; } }
    @media (min-height: 100px) and (max-height: 767px) {
      .logo-home img {
        height: 250px;
        width: auto; } }

.footer-container {
  width: 100%;
  height: 77px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #38C3FF; }
  .footer-container p {
    color: white;
    margin-left: 12px;
    margin-top: 28px;
    margin-bottom: auto; }

.purun {
  animation: purun 0.8s linear 0s 1; }

@keyframes purun {
  0% {
    transform: scale(1, 1) translate(0%, 0%); }
  15% {
    transform: scale(0.9, 0.9) translate(0%, 5%); }
  30% {
    transform: scale(1.3, 0.8) translate(0%, 10%); }
  50% {
    transform: scale(0.8, 1.3) translate(0%, -10%); }
  70% {
    transform: scale(1.1, 0.9) translate(0%, 5%); }
  100% {
    transform: scale(1, 1) translate(0%, 0%); } }

.container-for-grid-mem {
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (min-width: 1201px) {
    .container-for-grid-mem {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .container-for-grid-mem {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (min-width: 767px) and (max-width: 992px) {
    .container-for-grid-mem {
      grid-template-columns: 1fr ifr; } }
  @media (min-width: 100px) and (max-width: 767px) {
    .container-for-grid-mem {
      grid-template-columns: 1fr; } }
  .container-for-grid-mem a {
    text-decoration: none;
    color: #FF914D;
    text-shadow: 1px 1px 1px white; }
  .container-for-grid-mem a:hover {
    text-decoration: none;
    color: #FFDE59;
    text-shadow: 1px 1px 1px white;
    transition: 0.5s; }

.mem-card {
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  background: #EDF2F7;
  border-radius: 24px;
  width: 250px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s ease 0.1s 0.5 normal backwards; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 0.9;
    transform: translateX(0); } }

.container-uindex {
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  opacity: 0.9;
  animation: fadeIn 0.5s ease 0.1s 0.5 normal backwards; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 0.9;
    transform: translateX(0); } }
  .container-uindex .button-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 300px;
    display: flex;
    justify-content: space-between; }

.container-for-grid {
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
  opacity: 0.9;
  animation: fadeIn 0.5s ease 0.1s 0.5 normal backwards; }
  @media (min-width: 1201px) {
    .container-for-grid {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    .container-for-grid {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .container-for-grid {
      grid-template-columns: 1fr; } }
  @media (min-width: 100px) and (max-width: 767px) {
    .container-for-grid {
      grid-template-columns: 1fr; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 0.9;
    transform: translateX(0); } }

.r-card {
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
  background: #EDF2F7;
  border-radius: 24px;
  width: 500px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 1201px) {
    .r-card {
      width: 550px; } }
  @media (min-width: 100px) and (max-width: 767px) {
    .r-card {
      width: 100%; } }

.u-card {
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  background: #EDF2F7;
  border-radius: 24px;
  width: 480px;
  min-height: 212px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .u-card .u-info {
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px; }
  .u-card .u-button {
    margin-right: auto;
    margin-left: auto; }
  @media (min-width: 100px) and (max-width: 992px) {
    .u-card {
      width: 95%; } }

.container-form {
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  width: 600px;
  height: auto; }
  @media (min-width: 100px) and (max-width: 767px) {
    .container-form {
      padding: 12px;
      width: 95%;
      height: auto; } }

.container-rdetail {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  border-radius: 24px;
  background: #EDF2F7;
  opacity: 0.9;
  animation: fadeInR 0.5s ease 0.1s 0.5 normal backwards; }

@keyframes fadeInR {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 0.9;
    transform: translateY(0); } }

.mgr-container {
  margin-top: 12px;
  padding: 12px;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100px;
  background: #EDF2F7;
  opacity: 0.9;
  animation: fadeInR 0.5s ease 0.1s 0.5 normal backwards; }

.mgr-container-sub {
  margin-right: auto;
  margin-left: auto;
  width: 60%; }
  @media (min-width: 100px) and (max-width: 767px) {
    .mgr-container-sub {
      width: 95%; } }

.mgr-main-contents {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  opacity: 0.9;
  animation: fadeInR 0.5s ease 0.1s 0.5 normal backwards; }
  @media (min-width: 100px) and (max-width: 767px) {
    .mgr-main-contents {
      margin-top: 0;
      display: inline; } }
  .mgr-main-contents .mgrmain-flexcontents {
    padding: 12px;
    width: 48%;
    min-height: 80px;
    height: auto;
    border-radius: 12px;
    background: #EDF2F7; }
    @media (min-width: 100px) and (max-width: 767px) {
      .mgr-main-contents .mgrmain-flexcontents {
        margin-top: 12px;
        margin-right: auto;
        margin-left: auto;
        width: 100%; } }

.unfinish-todos {
  padding: 12px;
  border-radius: 12px;
  background: #FFDE59;
  margin-top: 6px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  transition: transform .6s ease; }
  .unfinish-todos a {
    text-decoration: none;
    color: #38C3FF; }
  .unfinish-todos a:hover {
    text-decoration: none;
    color: darkblue;
    text-shadow: 1px 1px 1px white;
    transition: 0.5s; }

.unfinish-todos:hover {
  transform: scale(1.05); }

.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #38C3FF;
  border: solid 2px white;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer; }

.pagetop__arrow {
  display: block;
  height: 10px;
  width: 10px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: translateY(20%) rotate(-45deg); }

.memmain-tasktitle {
  width: 30%; }
  @media (min-width: 100px) and (max-width: 767px) {
    .memmain-tasktitle h4 {
      font-size: 16px; } }

.memmain-taskpgs {
  width: 20%; }
  @media (min-width: 100px) and (max-width: 767px) {
    .memmain-taskpgs h4 {
      font-size: 14px; } }

.memmain-taskremain {
  width: 20%; }
  @media (min-width: 100px) and (max-width: 767px) {
    .memmain-taskremain h5 {
      font-size: 14px; } }

.memmain-taskdd {
  width: 25%; }
  @media (min-width: 100px) and (max-width: 767px) {
    .memmain-taskdd p {
      font-size: 12px; } }

.mgrmain-title {
  width: 260px; }
  @media (min-width: 100px) and (max-width: 767px) {
    .mgrmain-title {
      width: 200px; } }

.rmi-card-container .rmi-card {
  border-radius: 24px;
  padding: 10px;
  margin: 10px;
  background-color: #EDF2F7;
  display: flex;
  /*.u-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    background: $gray;
    border-radius: 24px;
    width: 500px;
    min-height: 212px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    animation: fadeIn 0.5s ease 0.1s 0.5 normal backwards;
*/ }
  .rmi-card-container .rmi-card .rmi-card-title {
    font-weight: bold; }
  .rmi-card-container .rmi-card .rmi-card-body {
    padding: 10px;
    margin: 10px; }
  .rmi-card-container .rmi-card .rmi-card-text {
    margin: 5px 0;
    display: flex;
    /*overflow: auto;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;*/
    /* �C�ӂ̍s�����w�� */ }
  .rmi-card-container .rmi-card .rmi-btn {
    margin: 5px 0; }
  .rmi-card-container .rmi-card .rmi-button-group {
    /*    display: flex;
    justify-content: space-between;
    margin-top: 10px;
*/
    margin-right: auto;
    margin-left: auto; }

.card {
  border: 1px solid #EDF2F7;
  background-color: #EDF2F7;
  border-radius: 10px;
  margin: 10px;
  width: 550px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 1001px) {
    .card {
      /*min-width: 100%;*/
      /*width: 100%;*/
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 50px) and (max-width: 1000px) {
    .card {
      min-width: 100%;
      width: 100%;
      grid-template-columns: 1fr; } }

.f-card {
  border: 1px solid #FF914D;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
  background: #EDF2F7;
  border-radius: 24px;
  width: 500px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 1201px) {
    .f-card {
      width: 550px; } }
  @media (min-width: 100px) and (max-width: 767px) {
    .f-card {
      width: 100%; } }

.mgrcard p {
  margin: 10px; }

.todoTitle {
  width: 250px;
  white-space: normal; }
  @media (min-width: 120px) {
    .todoTitle {
      width: 200px; } }

.todoProgress {
  width: 100px;
  height: 20px; }

.remainingDaysStatus {
  font-size: 13px;
  margin-top: 11px; }

.mgr-center {
  margin: auto;
  text-align: center;
  opacity: 0.9;
  animation: fadeIn 0.5s ease 0.1s 0.5 normal backwards; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 0.9;
    transform: translateX(0); } }

.mgrname {
  margin-top: 20px; }

.card-title {
  font-weight: bold;
  margin-right: 10px; }

.card-body {
  padding: 10px; }

.card-text {
  margin: 5px 0; }

.btn {
  writing-mode: horizontal-tb;
  margin: 5px 0; }

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }

.hidden {
  display: none; }

.toggle-details {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

/*編集中の箇所をコメントアウトで囲う*/
/*please use the following main colors*/
/*カラーを使うときには下記の変数名を使用する*/
html {
  height: 100%;
  font-size: 14px;
  font-family: "Meiryo UI"; }

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family: "Meiryo UI"; } }

body {
  height: 100%;
  margin-bottom: 60px;
  font-family: "Meiryo UI"; }

.select-icon {
  height: 50px;
  width: 50px;
  font-family: "Meiryo UI"; }

.select-icon:hover {
  /*    cursor: pointer;*/
  animation: shake 2s infinite;
  transform: rotate(20deg); }

@keyframes shake {
  50% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(20deg); } }
