@use "ri";
@use "yu";
@use "se";

/*please use the following main colors*/

/*編集中の箇所をコメントアウトで囲う*/
/*カラーを使うときには下記の変数名を使用する*/

$main-blue : #38C3FF;
$main-yellow : #FFDE59;
$orange : #FF914D;
$navy : #0A4191;
$gray : #EDF2F7;


/*//////Yuyama　Reports/MemIndex 編集中////////


*/


html {
    height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    height: 100%;
    margin-bottom: 60px;
}

.select-icon {
        height:50px;
        width:50px;
}


//関口======================================
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

.card-body {
    padding: 10px;
}

.card-text {
    margin: 5px 0;
}

.btn {
    margin: 5px 0;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
//関口======================================

/*Rika from here*/

.nav-logo {
    width:110px;
    height:50px;
    border-radius:24px;
}

.logo-home {
    margin-right: auto;
    margin-left: auto;
    margin-top:80px;
    text-align: center;

    img {
        margin: auto;
        border-radius: 50%;
    }
}

/* Rika end here */

