$main-blue: #38C3FF;
$main-yellow: #FFDE59;
$orange: #FF914D;
$navy: #0A4191;
$gray: #EDF2F7;


//////Yuyama　Reports/MemIndex 編集中////////

.rmi-card-container {
    //max-height: 100px;


    .rmi-card {
        border-radius: 24px;
        padding: 10px;
        margin: 10px;
        background-color: $gray;
        display: flex;
        /*.u-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    background: $gray;
    border-radius: 24px;
    width: 500px;
    min-height: 212px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    animation: fadeIn 0.5s ease 0.1s 0.5 normal backwards;
*/


        .rmi-card-title {
            font-weight: bold;
        }

        .rmi-card-body {
            padding: 10px;
            margin: 10px;
        }

        .rmi-card-text {
            margin: 5px 0;
            display: flex;
            /*overflow: auto;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;*/ /* 任意の行数を指定 */
        }

        .rmi-btn {
            margin: 5px 0;
        }

        .rmi-button-group {
            /*    display: flex;
    justify-content: space-between;
    margin-top: 10px;
*/
            margin-right: auto;
            margin-left: auto;
        }
    }
}





