@using System.Security.Claims;
@model 業務報告システム.Models.Todo

@{
    ViewData["Title"] = "Create";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="container-uindex">
<h1 class="text-center">タスクの作成</h1>

<div class="container-form">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">タスク名</label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Progress" type="hidden" value=0 />
                <span  asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">開始日</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">完了日</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">詳細</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserId" type="hidden" value="@loginUserId"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning" />
            </div>
        </form>
        <a asp-action="Index">タスク一覧に戻る</a>
    </div>

    

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
