@using System.Security.Claims;
@model 業務報告システム.Models.Todo

@{
    ViewData["Title"] = "Edit";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}


<div class="container-uindex">
<h1 class="text-center">タスクの編集</h1>

<div class="container-form">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TodoId" />
            <div class="form-group">
                <label class="control-label">タスク名</label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            @* Edit画面でprogressを0~10で選択できるようにする
            追記=======================
            編集前
            <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                <input asp-for="Progress" class="form-control" />
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            編集後 *@
            <div class="form-group">
                <label class="control-label">進捗</label>
                <select asp-for="Progress" class="form-control">
                    @for (int i = 0; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            @* 追記======================== *@
            <div class="form-group">
                <label class="control-label">開始日</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">完了日</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">詳細</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            @* Edit画面でUserIdは表示させずに自動入力させる。
            追記=======================
            編集前
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div> *@
            @* 編集後 *@
            @if (User.IsInRole("Member"))
            {
                <div class="form-group">
                    <input asp-for="UserId" type="hidden" asp-items="@loginUserId" />
                </div>
                <div class="form-group">
                    <input type="submit" value="保存" class="w-100 btn btn-lg btn-warning" />
                </div>
            }
            @if (User.IsInRole("Manager"))
            {
                   
                <div class="form-group">
                    <input asp-for="UserId" type="hidden" asp-items="@Model.UserId" />
                </div>
                <div class="form-group">
                    <input type="submit" value="保存" class="w-100 btn btn-lg btn-warning" />
                </div>
            }
            
            @* 追記======================= *@
            
        </form>

        @if (User.IsInRole("Member"))
        {
            <a asp-action="Index">タスク一覧に戻る</a>

        }
        else if (User.IsInRole("Manager"))
        {
            <a asp-action="MgrIndex">タスク一覧に戻る</a>
        }
       
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
