@using System.Security.Claims;
@model 業務報告システム.Models.Todo

@{
    ViewData["Title"] = "ManagerCreate";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="container-uindex">
<h1 class="text-center">タスクの振り分け</h1>

<div class="container-form">
        <form asp-action="MgrCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">タスク名</label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Progress" type="hidden" value=0 />
                <span  asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">開始日</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">完了日</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">詳細</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            
            @* 同じプロジェクトのMemberをプルダウン表示して選択したMemberのIdをControllerに返す *@
            <div class="form-group">
                <label class="control-label">振り分け先</label>
                <select asp-for="UserId" asp-items="ViewBag.Members" class="form-control">
            <option value="">選択してください</option>
            </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            @* 同じプロジェクトのMemberをプルダウン表示したMemberのIdをControllerに返す *@

            <div class="form-group">
                <input type="submit" value="作成" class="w-100 btn btn-lg btn-warning" />
            </div>
        </form>

    <a asp-action="MgrIndex">タスク一覧に戻る</a>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}